# Settings
src/JSON/settings.json
src/temp/**/*
tokens/

# Modules
**.node-persist**
node_modules/
**.data.json
**_IGNORE_**
.vscode/
.pnp.*
build/
test/
dist/

# Logs / Lokefiles
*lock.json
*.lock
*.log
logs/